.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 0;
  margin-top: 80px;
}

@media (max-width: 768px) {
  .main-content {
    margin-top: 120px;
  }
}
